.outtercontainer {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: white

}

.roll {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    background-color: rgb(148, 39, 39);
    filter: brightness(110%);
}


.innercontainer {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 20%;
}

.innercontainer_lock {

    width: 100px;
    height: 20px;
    border: 1px solid black;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*table {
    width: 100%;
    border-collapse: collapse;
    background-color: whitesmoke;
    color: rgb(12, 129, 179);
}

th, td {
    border: 1px solid rgb(12, 129, 179);
    text-align: left;
    padding: 8px;
}

th {
    background-color: #141313;
}*/

.main-container {
    display: flex;
    justify-content: space-between;
}

.outtercontainer_left, .outtercontainer_right {
    flex: 1;
    /* Optional: Add some padding or margin for spacing */
    padding: 10px;
}

.outtercontainer_left {
    background: radial-gradient(hsl(138, 100%, 27%) 4%, hsl(161, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
    radial-gradient(hsl(152, 100%, 27%) 4%, hsl(163, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
    radial-gradient(hsla(152, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
    radial-gradient(hsla(152, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
    radial-gradient(rgb(0, 102, 58) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
    radial-gradient(rgb(0, 102, 42) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
    radial-gradient(hsla(152, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
    radial-gradient(hsla(142, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
    linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
    linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
    background-color: #300;
    background-size: 100px 100px;
    border-radius: 10%;
    box-shadow: rgb(178, 10, 10) 0px 30px 60px -12px inset, rgba(188, 5, 5, 0.3) 0px 18px 36px -18px inset;
}

.roles_left {
    font-size: 20px;
    margin-bottom: 7%;
    margin-top: 7%;
    color: white;
    font-style: italic;
}

.score {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
    color: orange;
}

.player {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 5%;
    color: gold;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("./assets/background1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.dice-1, .dice-2, .dice-3, .dice-4, .dice-5, .dice-6 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.dice-1 {
    background-image: url('./assets/dice-one-svgrepo-com.svg');

}

.dice-2 {
    background-image: url('./assets/dice-two-svgrepo-com.svg');
}

.dice-3 {
    background-image: url('./assets/dice-three-svgrepo-com.svg');
}

.dice-4 {
    background-image: url('./assets/dice-four-svgrepo-com.svg');
}

.dice-5 {
    background-image: url('./assets/dice-five-svgrepo-com.svg');
}

.dice-6 {
    background-image: url('./assets/dice-six-svgrepo-com.svg');
}

.keeping {
    background-color: rgba(2, 196, 190, 0.737);
    filter: invert(100%);
}

.upper {
    color: #017845;
}

.lower {
    color: #017845;
}

.reset {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(148, 39, 39);
    filter: brightness(110%);
}

.reset_container {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

table {
    background: rgba(255, 255, 255, 0.922);
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
}

th {
    border-bottom: 1px solid #364043;
    color: #000000;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    color: #014a2a;
    font-weight: 400;
    padding: 0.65em 1em;
    border: black;
}

.disabled td {
    color: #4F5F64;
}

tbody tr {
    transition: background 0.25s ease;
}

tbody tr:hover {
    background: #cb8b82;
}


