.outtercontainer {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;

}

.roll {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.roll {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.innercontainer {

    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.innercontainer_lock {

    width: 100px;
    height: 20px;
    border: 1px solid black;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.outtercontainer_left, .outtercontainer_right {
    flex: 1;
    /* Optional: Add some padding or margin for spacing */
    padding: 10px;
}

.outtercontainer_left {
    background: green;
}

.roles_left {
    margin-bottom: 3%;
}

.score {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    <!-- "https://unsplash.com/photos/3-white-dice-on-black-surface-hAdfTKFXmwM" -->
    background-image: url("./assets/background.jpg");
}
